{% extends 'partials/main.html' %}
{% load bootstrap_icons %}
{% load static %}


{% block content %}
<div class="container pt-3">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Important Information about the Survey</h4>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify">
                        This survey aims to measure your perception of the overall quality of the videos that will be
                        shown to you.
                        So pick a rating that accurately reflect how you felt about the sound and image quality of the
                        videos that will be shown to you.

                        On the survey page, the videos will not autoplay, so you will need to click the play button to
                        play each video.

                        The survey only takes about 10 mins to complete.

                    </p>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-primary me-4">Back</button>
                    <button type="button" class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
{% endblock%}